<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="helloBean" class="com.core.beans.HelloBean">
        <property name="name" value="Shubham"/>
        <property name="message" value="How, Are You?" />
    </bean>
    <bean id="welcomeBean" class="com.core.beans.WelcomeBean" parent="helloBean">
<!--        <property name="name" value="Shubham"/>-->
        <property name="message" value="Good Morning!" />
    </bean>
    <bean id="wishBean" class="com.core.beans.WishBean" parent="helloBean">
<!--        <property name="name" value="Shubham"/>-->
        <property name="message" value="Happy Birthday!" />
    </bean>
</beans>